# This is a comment.
# Each line is a file pattern followed by one or more owners.
#
# A CODEOWNERS file uses a pattern that follows most of the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames or
# team names using the standard @username or @org/team-name format.
#
# Users and teams must have explicit write access to the repository, even if
# the team's members already have access.
#
# If you want to match two or more code owners with the same pattern, all the
# code owners must be on the same line. If the code owners are not on the same
# line, the pattern matches only the last mentioned code owner.

# The default policy and be overridden by the following rules.
*                  cj.gu@xrspace.io morris.tseng@xrspace.io cmj.tsai@xrspace.io

.github/           @XRSPACE-Inc/devops

one-backend/       cj.gu@xrspace.io shu.xiao@xrspace.io
one-cms/           cj.gu@xrspace.io morris.tseng@xrspace.io
one-dotnet/        morris.tseng@xrspace.io ray.wang@xrspace.io
one-native/        troy.liu@xrspace.io
one-unity/         morris.tseng@xrspace.io bala.huang@xrspace.io
one-mobile/        cj.gu@xrspace.io roy.zeng@xrspace.io hancort.chu@xrspace.io
infra/             @XRSPACE-Inc/devops

**/helm/           @XRSPACE-Inc/devops
**/*.env           cj.gu@xrspace.io @XRSPACE-Inc/devops
