/*
 * Server API - Asset
 *
 * The Restful APIs of Asset.
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#pragma warning disable
using System;
using System.Collections.Generic;
using System.IO;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using BestHTTP;
using Microsoft.Extensions.Logging;
using Newtonsoft.Json;
using XRSpace.OpenAPI;
using XRSpace.OpenAPI.Utilities;
using VContainer;
using TPFive.OpenApi.GameServer.Model;

namespace TPFive.OpenApi.GameServer
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IAssetApi
    {
        /// <summary>
        /// Confirm files uploaded to s3 Confirm files uploaded to s3.
        /// </summary>
        /// <param name="requestId">request id</param>
        /// <returns>Task &lt; ConfirmUploadedResponse &gt;</returns>
        Task<ConfirmUploadedResponse> ConfirmUploadedAsync(string requestId, RequestConfig requestConfig = default, CancellationToken cancellationToken = default);

        /// <summary>
        /// Create upload request Create upload request.
        /// </summary>
        /// <param name="createUploadRequest"></param>
        /// <returns>Task &lt; CreateUploadRequestResponse &gt;</returns>
        Task<CreateUploadRequestResponse> CreateUploadRequestAsync(CreateUploadRequest createUploadRequest = default, RequestConfig requestConfig = default, CancellationToken cancellationToken = default);

        /// <summary>
        /// Get asset items by type Get asset items by type. This API endpoint allows you to retrieve a list of asset items based on their type. The response includes pagination information and a list of asset items.
        /// </summary>
        /// <param name="size">size of queries times</param>
        /// <param name="type">asset type</param>
        /// <param name="offset">offset of items</param>
        /// <returns>Task &lt; AssetListResponse &gt;</returns>
        Task<AssetListResponse> GetAssetItemsAsync(int size, string type, int? offset = default, RequestConfig requestConfig = default, CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// Represents a collection of functions to interact with the AssetApi endpoints.
    /// </summary>
    public class AssetApi : IAssetApi
    {
        private readonly ILogger logger;
        private readonly IServerBaseUriProvider serverBaseUriProvider;
        private readonly IAuthTokenProvider authTokenProvider;

        /// <summary>
        /// Initializes a new instance of the <see cref="AssetApi"/> class.
        /// </summary>
        /// <param name="loggerFactory"> an instance of ILoggerFactory</param>        
        /// <param name="serverBaseUriProvider"> an instance of IServerBaseUriProvider</param>
        /// <param name="authTokenProvider"> an instance of IAuthTokenProvider</param>
        [Inject]
        public AssetApi(
            ILoggerFactory loggerFactory,
            IServerBaseUriProvider serverBaseUriProvider,
            IAuthTokenProvider authTokenProvider)
        {
            this.logger = loggerFactory.CreateLogger<AssetApi>();
            this.serverBaseUriProvider = serverBaseUriProvider;
            this.authTokenProvider = authTokenProvider;
        }

        public async Task<ConfirmUploadedResponse> ConfirmUploadedAsync(string requestId, RequestConfig requestConfig = null, CancellationToken cancellationToken = default)
        {
            string path = "/api/v1/asset/uploaded/{request_id}";

            // Replace the path parameters with their values.
            path = HttpUtil.SetPathParameter(path, "{request_id}", requestId);

            try
            {
                return await OpenApiUtil.RequestAsync<ConfirmUploadedResponse>(CreateRequest, authTokenProvider, requestConfig, cancellationToken);
            }
            catch (TaskCanceledException)
            {
                logger.LogInformation("{Method}(): Be canceled.", nameof(ConfirmUploadedAsync));
                throw;
            }
            catch (Exception ex)
            {
                logger.LogError("{Method}(): Failed. Exception: {Exception}", nameof(ConfirmUploadedAsync), ex.Message);
                throw;
            }

            HTTPRequest CreateRequest()
            {
                var uri = new Uri(serverBaseUriProvider.BaseUri, path);
                var httpRequest = new HTTPRequest(uri, HTTPMethods.Post);
                httpRequest.DisableCache = true;

                // Bearer authentication required
                httpRequest.AddHeader("Authorization", $"Bearer {authTokenProvider.GetAuthToken()}");

                // Accept Type
                httpRequest.AddHeader("Accept", "application/json");

                return httpRequest;
            }
        }

        public async Task<CreateUploadRequestResponse> CreateUploadRequestAsync(CreateUploadRequest createUploadRequest = default, RequestConfig requestConfig = null, CancellationToken cancellationToken = default)
        {
            string path = "/api/v1/asset/upload";

            try
            {
                return await OpenApiUtil.RequestAsync<CreateUploadRequestResponse>(CreateRequest, authTokenProvider, requestConfig, cancellationToken);
            }
            catch (TaskCanceledException)
            {
                logger.LogInformation("{Method}(): Be canceled.", nameof(CreateUploadRequestAsync));
                throw;
            }
            catch (Exception ex)
            {
                logger.LogError("{Method}(): Failed. Exception: {Exception}", nameof(CreateUploadRequestAsync), ex.Message);
                throw;
            }

            HTTPRequest CreateRequest()
            {
                var uri = new Uri(serverBaseUriProvider.BaseUri, path);
                var httpRequest = new HTTPRequest(uri, HTTPMethods.Post);
                httpRequest.DisableCache = true;

                // Bearer authentication required
                httpRequest.AddHeader("Authorization", $"Bearer {authTokenProvider.GetAuthToken()}");

                // Content Type
                httpRequest.AddHeader("Content-Type", "application/json");

                // Accept Type
                httpRequest.AddHeader("Accept", "application/json");

                // Body
                if (createUploadRequest != null)
                {
                    httpRequest.RawData = Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(createUploadRequest));
                }

                return httpRequest;
            }
        }

        public async Task<AssetListResponse> GetAssetItemsAsync(int size, string type, int? offset = default, RequestConfig requestConfig = null, CancellationToken cancellationToken = default)
        {
            string path = "/api/v1/asset/{type}/list";

            // Replace the path parameters with their values.
            path = HttpUtil.SetPathParameter(path, "{type}", type);

            // Build the query string into the path
            var paramMap = new Multimap<string, string>();
            HttpUtil.ParameterToMultiMap("multi", "offset", offset, paramMap);
            HttpUtil.ParameterToMultiMap("multi", "size", size, paramMap);
            path = HttpUtil.SetQueryParameter(path, paramMap);

            try
            {
                return await OpenApiUtil.RequestAsync<AssetListResponse>(CreateRequest, authTokenProvider, requestConfig, cancellationToken);
            }
            catch (TaskCanceledException)
            {
                logger.LogInformation("{Method}(): Be canceled.", nameof(GetAssetItemsAsync));
                throw;
            }
            catch (Exception ex)
            {
                logger.LogError("{Method}(): Failed. Exception: {Exception}", nameof(GetAssetItemsAsync), ex.Message);
                throw;
            }

            HTTPRequest CreateRequest()
            {
                var uri = new Uri(serverBaseUriProvider.BaseUri, path);
                var httpRequest = new HTTPRequest(uri, HTTPMethods.Get);
                httpRequest.DisableCache = true;

                // Bearer authentication required
                httpRequest.AddHeader("Authorization", $"Bearer {authTokenProvider.GetAuthToken()}");

                // Accept Type
                httpRequest.AddHeader("Accept", "application/json");

                return httpRequest;
            }
        }
    }
}
#pragma warning restore