USERNAME=testuser
EMAIL=testuser@xrspace.io
PASSWORD=1qazXSW@
NICKNAME=testuser4
AVATAR_FORMAT='{"avatarid":"TempAvatarMale","skeleton":"avatar2_skeleton_male","gender":11,"skin_parts":["hum_m01_head_000_bs_001","hum_m01_coat_001_bs_001"],"colors":{"SkinColor":"FFFFFFFF","HairColor":"FFFFFF"},"body":{"Shape":0,"Height":1}}'
AVATAR_ASSET=./server/e2e/assets/avatar.zip
HEAD_THUMBNAIL=./server/e2e/assets/head.png
BODY_THUMBNAIL=./server/e2e/assets/upper.png
FULL_BODY_THUMBNAIL=./server/e2e/assets/full.png
